@media (max-width: 768px) {

    header{
    }

    .logoMaso {
      width: 40%;
      height: auto;
    }

    footer{
    display:flex;
    flex-direction: column;    
    align-items: center;
    text-align: center;
    }

    .example-2{
      gap: 5%;
      padding-left: 0%;
    }

    .catalog {
        grid-template-columns: 1fr;
    }


    .catalog-item {
        position: relative;
        grid-column: span 1;
        width: auto;
        margin-bottom: 10px;
    }

.catalog-item img {
    margin-top: 20px;
    width: 90%;
    height: 60%;
    border-radius: 15px;
}

.card{
    display: flex;
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
    border-color: aliceblue;
    border-style:groove;
}

.containerSection{
  display: inline-block;
  width: 100%;
  height: auto;
  flex-direction: column;
}

/* Estilo Responsivo cadastro */


    .main-cadastro {
        padding: 15px;
        box-shadow: none;
        
    }

    input[type="text"], 
    input[type="email"], 
    input[type="password"],
    select {
        margin-bottom: 15px;
    }

    /*Estilos para o menu hamburguer*/
  
  .hamburger-label {
    width: 70px;
    height: 40px;
    display: flex;
    cursor: pointer;
  }

  .perfil-icone{
    width: 70px;
    height: auto;
  }

  .navButtons {
    flex-direction: column;
    display: none;
}
  
  .hamburger-label div {
    width: 70px;
    height: 6px;
    background-color: #fff;
    position: absolute;
  }
  
  .line1 {
    transition: all .3s;
  }
  
  .line2 {
    margin: 18px 0 0 0;
    transition: 0.3s;
  }
  
  .line3 {
    margin: 36px 0 0 0;
    transition: 0.3s;
  }
  
  #label-check:checked + .hamburger-label .line1 {
    transform: rotate(35deg) scaleX(.55) translate(39px, -4.5px);
    border-radius: 50px 50px 50px 0;
  }
  
  #label-check:checked + .hamburger-label .line3 {
    transform: rotate(-35deg) scaleX(.55) translate(39px, 4.5px);
    border-radius: 0 50px 50px 50px;
  }
  
  #label-check:checked + .hamburger-label .line2 {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    width: 45px;
  }
}